{% extends "mvc-layout.html.twig" %}

{% block content %}
<div class="game21-wrapper">
    <h1 class="game-title">{{ header }}</h1>

    <form action="{{ app.request.getBaseURL() }}/game21/set-hand" method="post" class="die-choice">
        <div class="radio-b">
            <label for="playername">Players name</label>
            <input type="text" id="playername" name="playername">
            <div class="radio-duo">
            <input type="radio" id="1" name="diceQty" value="1">
            <label for="1">1 die</label><br>
            </div>
            <div class="radio-duo">
            <input type="radio" id="2" name="diceQty" value="2">
            <label for="2">2 dice</label><br>
            </div>
        </div>
        <button type="submit" class="new-game-button" name="start" value="Play">Play</button>
    </form>
</div>
{% endblock %}
